.pagination {

  li > a,
  li > span {
    border: none;
    margin: 0 4px;
    color: $gray-text-color;
    transition: .3s ease-out;
  }

  .previous,
  .next {
    font-size: 20px;
    line-height: 21px;
  }

  > li > a:focus,
  > li > a:hover,
  > li > span:focus,
  > li > span:hover {
    background-color: transparent;
    color: $accent-color;
  }

  > .active > a,
  > .active > a:focus,
  > .active > a:hover,
  > .active > span,
  > .active > span:focus,
  > .active > span:hover {
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.pager {

  margin: 50px 0 20px;

  li > a {
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    color: $gray-text-color;
    transition: .3s ease-out;
    padding: 0 5px;

    &:hover {
      background-color: transparent;
      color: $accent-color;
    }
  }

  li.previous {
    text-align: left;
  }

  li.next {
    text-align: right;
  }

  .previous > a > span::before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 19px;
    margin: 0 10px 0 5px;
    vertical-align: bottom;
  }

  .next > a > span::after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 19px;
    margin: 0 5px 0 10px;
    vertical-align: bottom;
  }

  aside {
    text-transform: none;
    font-weight: 400;
    letter-spacing: normal;
  }
}
