.search-header {
  margin-right: -15px;

  .btn-search {
    color: $color-white;
    background: transparent;
    line-height: 20px;
    padding: 15px 18px;
    margin-top: -1px;

    @media screen and (max-width: $break-sm) {
      margin-top: 0;
    }
  }
}

.search-modal {
  height: 100%;

  .modal-dialog {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      height: calc(100% - 60px);
    }

    .modal-title {
      font-weight: 500;
    }

    .modal-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: $bg-color-dark;

      .modal-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: $color-white;
      }
    }

    .modal-footer {
      text-align: center;
    }
  }

  .input-group {
    width: 100%;
  }

  .input-wrapper {
    position: relative;

    span.fa-search {
      position: absolute;
      top: 14px;
      left: 14px;
      z-index: 4;
      color: $light-gray-text-color;
    }

    input {
      font-size: 16px;
      height: inherit;
      padding: 8px 12px 8px 40px;
      line-height: 22px;
    }
  }

  .algolia-link {

    text-align: right;

    img {
      height: 18px;
    }
  }
}

#search-results {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  flex: 1;
  overflow-y: auto;

  li {

    h6 {
      margin: 0 0 4px;
    }

    a {
      color: $link-color;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }

      aside {
        font-size: 12px;
        color: $gray-text-color;
      }
    }

    em {
      font-style: normal;
      background-color: $search-highlight-bg-color;
    }
  }
}

#search-pages {
  margin: 0;
}
