.alert {
  border-radius: $default-border-radius;
}

.callout,
.admonition {
  padding: 15px 20px 15px;
  margin: 20px 0;
  border: 1px solid $callout-border-color;
  border-left-width: 3px;
  border-radius: $default-border-radius;

  h4,
  .admonition-title {
    margin: 0 0 4px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @include callout-variant($callout-info-color);

  &.attention {
    @include callout-variant($callout-warning-color);
  }

  p:last-child {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: $break-xs) {

  .callout {
    padding: 10px;
  }

}
