.alert {
  border-radius: 2px;
}

.callout,
.admonition {
  padding: 15px 20px 12px;
  margin: 20px 0;
  border: 1px solid $callout-border-color;
  border-left-width: 3px;
  border-radius: 3px;
  background-color: $callout-bg-color;

  h4,
  .admonition-title {
    margin: 4px 0 12px;
    text-transform: uppercase;
  }

  &.success {
    @include callout-variant($callout-success-color);
  }

  &.note,
  &.info,
  &.aside {
    @include callout-variant($callout-info-color);
  }

  &.warning {
    @include callout-variant($callout-warning-color);
  }

  &.danger {
    @include callout-variant($callout-danger-color);
  }

  p:last-child {
    margin-bottom: 12px;
  }
}

.callout-success {
  @include callout-variant($callout-success-color);
}

.callout-info {
  @include callout-variant($callout-info-color);
}

.callout-warning {
  @include callout-variant($callout-warning-color);
}

.callout-danger {
  @include callout-variant($callout-danger-color);
}

@media screen and (max-width: $break-xs) {

  .callout {
    padding: 10px;
  }

}
