code, kbd, pre, samp, a.cmd, a.pkg {
  font-family: $font-family-code;
  color: $code-inline-color;
  background: inherit;
  padding: 0 2px;
  font-size: 0.875em;
}

a code {
  color: $link-color;
}

a.cmd code,
a.pkg code {
  // Avoid doubling up on padding when cmds are
  // accidentally quoted ala [`cmd`]
  padding: 0;
}

h1, h2, h3, h4, h5 {
  code {
    font-size: 0.93em;
  }
}

code.lit {
  color: $code-literal-color;
  background-color: $code-inline-bg-color;
  font-weight: inherit;
  padding: 1.5px 4px;  // intentionally more padding than non-literal code
  border-radius: 2px;
}

table.dl tr td.dt code {
  white-space: nowrap;
}

h1 code,
h2 code,
h3 code,
h3 code,
h4 code,
h5 code {
  font-weight: inherit;
}

pre {
  position: relative;
  font-size: $pre-font-size;
  line-height: 1.4;
  word-wrap: normal;
  word-break: break-word;
  white-space: pre-wrap;
  background-color: $code-bg-color;
  border: 1px solid $code-border-color;
  border-radius: $default-border-radius;
  padding: $p-margin-bottom_ - 4px;
  color: $text-color;
  overflow: auto;

  code {
    font-weight: normal;
    color: $code-inline-color;
  }

  box-shadow: $box-shadow-less;
  margin-bottom: $p-margin-bottom_ + 6px;
  margin-top: $p-margin-bottom_ + 2px;
}

pre.code-toolbar.command-line > .toolbar,
pre.code-toolbar.language-output > .toolbar,
{
  top: 8px;
  right: 6px;

  a,
  button,
  span {
    background-color: $bg-color-terminal-button;
    color: darken($color-white, 20%);

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: lighten($bg-color-terminal-button, 10%);
      color: $color-white;
    }
  }
}

pre.command-line,
pre.language-output {
  background-color: $bg-color-terminal;
  border: 1px solid $bg-color-terminal;
  padding: 9px 12px;

  .language-name {
    color: lighten($bg-color-terminal, 30%);
  }
}

pre.command-line {
  code {
    color: lighten($terminal-text-color, 10%);
  }
}

pre.language-output {
  code {
    color: darken($terminal-text-color, 20%);
  }
}

pre .language-name {
  background-color: transparent;
  color: darken($code-bg-color, 30%);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  cursor: default;
  position: relative;
  float: right;
  right: 0;
  top: 2px;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
  transition: opacity $default-transition;

  &.out {
    opacity: 0;
  }
}

pre.language-command + pre.language-output {
  margin-top: -12px;
}

img.code {
  border: 1px solid $code-border-color;
  padding: 0;
}

pre.language-error {
  background-color: adjust-color(
    $code-bg-color,
    $red: 10,
    $blue: -10,
    $green: -10);
}
