code, kbd, pre, samp, a.cmd, a.pkg {
  font-family: $font-family-code;
  color: $code-inline-color;
  background: inherit;
  padding: 0;
  font-size: 0.875em;
}

h1, h2, h3, h4, h5 {
  code {
    font-size: 0.93em;
  }
}

code.lit {
  color: $code-literal-color;
  background-color: $code-inline-bg-color;
  font-weight: inherit;
  padding: 1px 4px;
  border-radius: 1px;
}

table.dl tr td.dt code {
  white-space: nowrap;
}

a.cmd,
a.pkg,
a > code {
  color: $link-color;
}

h1 code,
h2 code,
h3 code,
h3 code,
h4 code,
h5 code {
  font-weight: inherit;
}

pre {
  font-size: $pre-font-size;
  line-height: 1.4;
  word-wrap: normal;
  word-break: break-word;
  white-space: pre-wrap;
  background-color: transparent;
  border: none;
  padding: 0 12px;
  color: $gray-text-color;
  overflow: auto;

  code {
    font-weight: normal;
    color: $code-inline-color;
  }

  box-shadow: $box-shadow-less;
  margin-bottom: $p-margin-bottom_ + 4px;
}

pre[class] {
  position: relative;
  margin-top: $p-margin-bottom_ + 2 * 1px;
  color: $text-color;
  background-color: $code-bg-color;
  border: 1px solid $code-border-color;
  border-radius: $default-border-radius;
  padding: $p-margin-bottom;
}

pre.code-toolbar.command-line > .toolbar,
pre.code-toolbar.language-output > .toolbar,
{
  top: 9px;
  right: 6px;

  a,
  button,
  span {
    border: 1px solid lighten($bg-color-terminal-button, 5%);
    background-color: $bg-color-terminal-button;
    color: darken($color-white, 10%);

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: lighten($bg-color-terminal-button, 20%);
      color: $color-white;
    }
  }
}

pre.command-line,
pre.language-output {
  background-color: $bg-color-terminal;
  border: 1px solid darken($bg-color-terminal, 5%);
  padding: 9px 12px;

  code {
    color: $terminal-text-color;
  }

  .language-name {
    color: $gray-text-color;
  }
}

pre .language-name {
  background-color: transparent;
  color: $pale-text-color;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 600;
  cursor: default;
  position: relative;
  float: right;
  right: 0;
  top: 2px;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
  // text-shadow: 0 1px #fff;
  transition: opacity $default-transition;

  &.out {
    opacity: 0;
  }
}

pre.language-command + pre.language-output {
  margin-top: -8px;
}

img.code {
  border: 1px solid $code-border-color;
  padding: 0;
}

pre.language-error {
  background-color: adjust-color(
    $code-bg-color,
    $red: 10,
    $blue: -10,
    $green: -10);
}
