figure {
  margin: 0 0 $p-margin-bottom;

  figcaption {
    text-align: center;
    color: $light-gray-text-color;
    font-size: 16px;
    line-height: 22px;
    margin-top: -8px;
    margin-bottom: $p-margin-bottom;

    &.under-shadow {
      margin-top: 24px;
    }

    code {
      font-size: 13px;
      color: darken($light-gray-text-color, 10%);
    }

    a {
      font-style: italic;
    }
  }
}

img.md {
  max-width: 100%;
  height: auto;
  margin: 0 auto 24px;
  display: block;
  box-shadow: rgba(0,0,0,0.3) 3px 5px 14px;
  border-radius: 3px;
}

.lity {
  z-index: 999;
}

.featherlight {

  .featherlight-content {
    background: transparent;
  }

  .featherlight-close-icon {
    color: $color-white;
    background: transparent;
    font-size: 20px;
  }
}

img.shadow {
  border-radius: 4px;
  box-shadow: $default-box-shadow !important;
  margin-bottom: 4px;
}
