.text-editor {
  display: block;
  margin: 0 auto 30px;
  border-radius: 4px;
  box-shadow: $default-box-shadow;
  clear: both;
  overflow: hidden;
  transition: all 0.5s ease-out;

  .text-body {
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    color: #f0f0f0;
    font-size: 16px;
    font-family: "Consolas", "Courier New", "Courier";
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}

.text-editor.sm {
  box-shadow: $box-shadow-less;

  .text-body {
    font-size: $pre-font-size;
    padding: 9px 12px;
  }
}

li .text-editor.sm {
  margin: 8px 0 14px;
  max-width: 40em;
}

img.terminal {
  padding: 8px 10px;
  background-color: $bg-color-terminal;
  border-radius: 4px;
  box-shadow: $default-box-shadow;
}
