// Material color palette: https://goo.gl/jDEUqR

// Fonts
$font-family-body: 'Roboto',sans-serif;
$font-family-title: 'Roboto',sans-serif;
$font-family-hero: 'Roboto Slab',sans-serif;
$font-family-code: 'Roboto Mono',monospace;

// Font size
$default-font-size: 16px;
$default-line-height: 25px;
$pre-font-size: 14px;
$banner-hero-font-size: 3.2em;
$banner-bullet-font-size: 2em;

// Spacing
$p-margin-bottom_:                  18;
$p-margin-bottom:                   $p-margin-bottom_ * 1px;

// Colors
$accent-color:                      #283593;
$text-color:                        #333;
$light-text-color:                  #555;
$gray-text-color:                   #777;
$light-gray-text-color:             #999;
$pale-text-color:                   #ccc;
$pale-text-color-light:             #d5d5d5;
$link-color:                        $accent-color;

$bg-color-terminal:                 #333;
$terminal-text-color:               #f5f5f5;
$bg-color-terminal-img:             #333;
$bg-color-terminal-button:          #666;

$banner-bg-color:                   #0447a7;
$banner-overlay-color:              saturate(darken($accent-color, 10%), 25%);
$banner-overlay-opacity:            0.3;

$border-color-darker:               #aaa;
$border-color-dark:                 #ddd;
$border-color:                      #e7e7e7;
$border-color-light:                #f5f6f7;

$bg-color:                          #fcfcfc;
$bg-color-dark:                     #f5f5f5;
$bg-color-darker:                   #eee;

$color-default:                     #777777;
$color-default-darker:              #777777;
$color-primary:                     #e65100;
$color-primary-darker:              #ac1900;
$color-success:                     #4CAF50;
$color-success-darker:              #43A047;
$color-info:                        #29B6F6;
$color-info-darker:                 #039BE5;
$color-warning:                     #FF9800;
$color-warning-darker:              #F57C00;
$color-danger:                      #F44336;
$color-danger-darker:               #D32F2F;
$color-purple:                      #6D5CAE;
$color-purple-darker:               #554790;
$color-teal:                        #00BFA5;
$color-teal-darker:                 #00af97;
$color-dark:                        #424242;
$color-dark-darker:                 #000000;
$color-white:                       #ffffff;
$color-white-darker:                #ffffff;

// Shadow
$default-box-shadow:                rgba(0, 0, 0, 0.3) 3px 5px 14px;
$box-shadow-less:                   rgba(0, 0, 0, 0.3) 3px 5px 14px;

// Breaks
$break-xs:                          480px;
$break-sm:                          767px;
$break-md:                          991px;
$break-lg:                          1199px;

// Transitions
$default-transition-time:           0.25s;
$default-transition-function:       ease;
$default-transition:                $default-transition-time
                                    $default-transition-function;
// Borders
$default-border-radius:             4px;

// _sidebar
$sidebar-bg-color:                  $bg-color-dark;
$sidebar-active-bg-color:           $bg-color-darker;
$sidebar-link-color:                #aeb2b7;
$sidebar-active-link-color:         #ffffff;
$sidebar-dark-bg-color:             #2a3542;
$sidebar-dark-active-bg-color:      #35404d;
$sidebar-dark-link-color:           #aeb2b7;
$sidebar-dark-active-link-color:    #ffffff;
$sidebar-toggle-transition:         0.3s ease-out;

// _alerts
$callout-bg-color:                  darken($color-white, 4%);
$callout-border-color:              $border-color-dark;
$callout-success-color:             $color-success-darker;
$callout-info-color:                #5f5fc4;
$callout-warning-color:             #e65100;
$callout-danger-color:              #ac1900;
$callout-tip-color:                 #479147;

// _buttons
$btn-default-bg-color:              #f0f0f0;
$btn-bg-color-dark:                 #cccccc;
$btn-default-color:                 $light-text-color;

// _code
$code-bg-color:                     #f0f0f0;
$code-border-color:                 $border-color-dark;
$code-inline-color:                 $light-text-color;
$code-literal-color:                $light-text-color;
$code-inline-bg-color:              darken($code-bg-color, 3%);
$code-window-bg-color:              #ebebeb;
$code-window-border-top-color:      #eaeae9;
$code-window-border-bottom-color:   #dfdfde;
$code-window-circle-red-bg:         #fc615c;
$code-window-circle-red-border:     #fd504a;
$code-window-circle-yellow-bg:      #fec041;
$code-window-circle-yellow-border:  #f0b542;
$code-window-circle-green-bg:       #33c849;
$code-window-circle-green-border:   #1bc634;
$code-window-line-bg-color:         #f7f7f7;

// _content
$header-border-color:               #f1f1f1;

// _files
$file-tree-folder-color:            $light-gray-text-color;
$file-tree-file-color:              $light-gray-text-color;
$files-bg-color:                    $bg-color-dark;
$files-border-color:                $border-color-dark;

// _toc
$toc-text-color:                    #888;

// _views
$view-link-color:                   #45baa3;

// _tooltip
$tooltip-bg-color:                  $color-dark;

// _search
$search-highlight-bg-color:         #FFF176;

// _promo
$feature-font-size:                 18px;
