{% set header_class = "navbar-transparent" %}

{% extends "partials/header.html" %}

{% block banner %}

<div
  class="banner overlay-black"
  style="background-image: url({{ base_url }}/assets/img/banner-2-lowrez.jpg);">
  <div class="container text-center">
    <div class="navbar-spacer"></div>
    <h1 style="max-width:{{config.extra.tagline_width}}">
      {{ page.meta.tagline or config.extra.tagline }}
    </h1>
    {% include "partials/tagline-bullets.html" %}
    {% if config.extra.subtext %}
    <div class="subtext" style="max-width:{{config.extra.subtext_width}}">
      {{ page.meta.subtext or config.extra.subtext }}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
