{% set header_class = "navbar-fullwidth navbar-transparent" %}

{% extends "partials/header-base.html" %}

{% block banner %}
<div
  class="banner banner-full-height overlay-black"
  style="background-image: url({{ base_url }}/assets/img/banner.jpg);">
  <div class="container text-center">
    <div class="spacer"></div>
    <h1>{{ page.meta.banner_tagline }}</h1>
    <div class="spacer text"></div>
    <h5>{{ page.meta.banner_subtext }}</h5>
    <div class="spacer actions"></div>
    <div class="actions">
      <a
        class="btn btn-primary btn-xl"
        role="button"
        href="{{ page.meta.banner_action_link}}"
      >{{ page.meta.banner_action }}</a>
    </div>
    <div class="spacer"></div>
  </div>
  <ul class="social-icons">
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
  </ul>
</div>
{% endblock %}
