{% set header_class = "navbar-transparent" %}

{% extends "partials/header.html" %}

{% block banner %}

<div
  class="banner overlay-black"
  style="background-image: url({{ base_url }}/assets/img/banner-lowrez-2.jpg);">
  <div class="container text-center">
    <div class="spacer"></div>
    <h1 style="max-width:{{config.extra.tagline_width}}">
      {{ page.meta.tagline or config.extra.tagline }}
    </h1>
    {% if config.extra.subtext %}
    <div class="spacer text"></div>
    <h5 style="max-width:{{config.extra.subtext_width}}">
      {{ page.meta.subtext or config.extra.subtext }}
    </h5>
    {% endif %}
  </div>
  {% include "partials/tagline-bullets.html" %}
</div>
{% endblock %}
