<footer class="site-footer">
  <div class="container">
    <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="row">
      <div class="col-md-6 col-sm-6 footer-cell">
        <div class="copyright">Copyright &copy; {{ config.copyright }}</div>
        {% if page.meta.attribution %}
        <div class="attribution">{{ page.meta.attribution }}</div>
        {% endif %}
      </div>
      <div class="col-md-6 col-sm-6 footer-cell">
        <ul class="footer-menu">
          <li><a href="/about/">About</a></li>
          <li><a href="mailto:niceperson@guild.ai">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
