<header class="site-header {{ header_class }}">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ nav.homepage.canonical_url }}">
          <img src="{{ base_url }}/assets/img/logo_nav.svg" alt="logo">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
        <ul class="nav navbar-nav navbar-right">
          {% for item in nav %}
          {% set page = item.children[0] if item.children else item %}
          {% if page.meta.navbar_item %}
          <li class="{% if item.active %}active{% endif %}">
            <a href="{{ page.abs_url }}">{{ page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  {% block banner %}{% endblock %}
</header>
