<div class="search-modal modal fade" id="search-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Search</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-wrapper">
            <span class="fa fa-search fa-lg" aria-hidden="true"></span>
            <input
              type="text"
              id="search-input"
              class="form-control initial-focus"
              placeholder="Find something">
          </div>
        </div>
        <ul id="search-results"></ul>
      </div>
      <div class="modal-footer">
        <ul class="pagination" id="search-pages"></ul>
        <div class="algolia-link">
          <a href="https://www.algolia.com/" target="_blank">
            <img src="{{ base_url }}/assets/img/search-by-algolia.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
