<aside class="{% if page.meta.sidenav %}col-sm-3{% endif %} sidebar">

  <div class="sidebar-nav">
    <div>
      <button type="button" class="sidebar-close" data-toggle="offcanvas">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </button>
      <a class="sidebar-nav-brand" href="{{ nav.homepage.canonical_url }}">
        <img src="{{ base_url }}/assets/img/logo_nav.svg" alt="logo">
      </a>
    </div>
    <ul class="nav">
      {% for item in nav %}
      {% set page = item.children and item.children[0] or item %}
      {% if page.meta.navbar %}
      <li class="{% if page.active %}active{% endif %} {{ page.meta.navbar_class }}">
        <a href="{{ page.abs_url }}">{{ page.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% if page.meta.sidenav %}
  {% for page in nav %}
  {% if page.active and page.children %}
  <ul class="sidenav dropable sticky">
    {% for child in page.children[1:] %}
    <li>
      <a
        class="{% if child.active %}active{% endif %}"
        href="{{ child.abs_url }}">{{ child.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
  {% endif %}

  <!--
  <ul class="sidenav dropable sticky">
    <li><a class="active" href="index.html">Overview</a></li>
    <li>
      <a href="#">Layouts</a>
      <ul>
        <li><a href="layout_boxed_left-sidebar.html">Boxed - Left sidebar</a></li>
        <li><a href="layout_boxed_right-sidebar.html">Boxed - Right sidebar</a></li>
        <li><a href="layout_boxed_no-sidebar.html">Boxed - No sidebar</a></li>
        <li><a href="layout_full_left-sidebar.html">Fullwidth - Left sidebar</a></li>
        <li><a href="layout_full_right-sidebar.html">Fullwidth - Right sidebar</a></li>
        <li><a href="layout_full_no-sidebar.html">Fullwidth - No sidebar</a></li>
        <li><a href="layout_single-page-1.html">Single page - Sample 1</a></li>
        <li><a href="layout_single-page-2.html">Single page - Sample 2</a></li>
        <li><a href="layout_single-page-3.html">Single page - Sample 3</a></li>
        <li><a href="layout_sidebar_boxed.html">Boxed sidebar</a></li>
        <li><a href="layout_skin.html">Skins</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Components</a>
      <ul>
        <li><a href="component_navbar.html">Navbar</a></li>
        <li><a href="component_banner.html">Banner</a></li>
        <li><a href="component_banner_sample1.html">Banner - Sample 1</a></li>
        <li><a href="component_banner_sample2.html">Banner - Sample 2</a></li>
        <li><a href="component_banner_sample3.html">Banner - Sample 3</a></li>
        <li><a href="component_sidebar.html">Sidebar - default</a></li>
        <li><a href="component_sidebar_line.html">Sidebar - line</a></li>
        <li><a href="component_sidebar_icon.html">Sidebar - icon</a></li>
        <li><a href="component_footer.html">Footer</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Basic styling</a>
      <ul>
        <li><a href="css_typography.html">Typography</a></li>
        <li><a href="css_button.html">Buttons</a></li>
        <li><a href="css_label.html">Labels</a></li>
        <li><a href="css_table.html">Tables</a></li>
        <li><a href="css_alert.html">Alerts</a></li>
        <li><a href="css_icon.html">Icons</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Elements</a>
      <ul>
        <li><a href="element_toc.html">Table of contents</a></li>
        <li><a href="element_code.html">Code view</a></li>
        <li><a href="element_view.html">Views</a></li>
        <li><a href="element_promo.html">Promo</a></li>
        <li><a href="element_files.html">Included files</a></li>
        <li><a href="element_requirement.html">Requirements</a></li>
        <li><a href="element_tab.html">Tabs</a></li>
        <li><a href="element_step.html">Steps</a></li>
        <li><a href="element_media.html">Media</a></li>
        <li><a href="element_color.html">Color palette</a></li>
        <li><a href="element_jumbotron.html">Jumbotron</a></li>
        <li><a href="element_carousel.html">Carousel</a></li>
        <li><a href="element_faq.html">FAQ</a></li>
        <li><a href="element_mix.html">Mix</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Pages</a>
      <ul>
        <li><a href="page_changelog.html">Changelog</a></li>
        <li><a href="page_faq.html">FAQ</a></li>
        <li><a href="page_credits.html">Credits</a></li>
        <li><a href="page_blog.html">Blog</a></li>
        <li><a href="page_blog-single.html">Blog single</a></li>
        <li><a href="page_404.html">Error 404</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Menu level</a>
      <ul class="dropable">
        <li><a href="#">Level 1</a></li>
        <li>
          <a href="#">Level 1</a>
          <ul>
            <li><a href="#">Level 2</a></li>
            <li>
              <a href="#">Level 2</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
            <li><a href="#">Level 2</a></li>
          </ul>
        </li>
        <li><a href="#">Level 1</a></li>
        <li><a href="#">Level 1</a></li>
      </ul>
    </li>
  </ul>
  -->

</aside>
