<aside class="{% if not page.meta.hide_sidenav %}col-sm-3{% endif %} sidebar">

  <div class="sidebar-nav">
    <div>
      <button type="button" class="sidebar-close" data-toggle="offcanvas">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </button>
      <a class="sidebar-nav-brand" href="{{ nav.homepage.canonical_url }}">
        <img src="{{ base_url }}/assets/img/logo_nav.svg" alt="logo">
      </a>
    </div>
    {% include "partials/nav.html" %}
    {% include "partials/social-icons.html" %}
  </div>

  {% if not page.meta.hide_sidenav %}
  {% for item in nav %}
  {% if item.active and item.children %}
  <ul class="sidenav dropable sticky_xxx">
    {% for child in item.children %}
    {% if child.children %}
    <li>
      <a class="{% if child.active %}active{% endif %}" href="#">{{ child.title }}</a>
      <ul>
        {% for child_ in child.children %}
        {% if not child_.meta.hide_in_sidenav %}
        <li>
          <a
            class="{% if child_.active %}active{% endif %}"
            href="{{ child_.abs_url }}">{{ child_.meta.sidenav_title or child_.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% elif not child.meta.hide_in_sidenav %}
    <li>
      <a
        class="{% if child.active %}active{% endif %}"
        href="{{ child.abs_url }}">{{ child.meta.sidenav_title or child.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
  {% endif %}
</aside>
