<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guild AI - {{ config.extra.tagline }} {% if page.title != 'Home' %}- {{ page.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.extra.description }}">
    <meta name="keywords" content="{{ config.extra.keywords|join(', ')}}">

    <meta property="og:title" name="og:title" content="Guild AI - {{ config.extra.tagline }}" data-app="true">
    <meta property="og:description" name="og:description" content="{{ config.extra.description }}" data-app="true">
    <meta property="og:type" name="og:type" content="website" data-app="true">
    <meta property="og:url" name="og:url" content="https://guild.ai/" data-app="true">

    <link rel="icon" href="{{ base_url }}/assets/img/favicon.png">
    <link rel="canonical" href="https://guild.ai/">
    <link href="{{ base_url }}/assets/css/vendor.min.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/theDocs.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/47f6d8906a.js"></script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Guild AI Search",
      "url":"https://guild.ai/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://my.guild.ai/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>

  </head>
  <body>
    {% block modals %}{% endblock %}
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
  <script src="{{ base_url }}/assets/js/vendor.min.js" data-manual></script>
  <script src="{{ base_url }}/assets/js/theDocs.min.js"></script>
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u = "https://guildai.matomo.cloud/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async=true;
      g.src='//cdn.matomo.cloud/guildai.matomo.cloud/matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>

  <!-- Matomo A/B Test -->
  <script type="text/javascript">
      var tagline = document.querySelector("h1");
      var bulletOne = document.querySelector(".tagline-bullets li:first-child");
      var _paq = _paq || [];
      _paq.push(['AbTesting::create', {
          name: 'Tagline4',
          percentage: 100,
          includedTargets: [{"attribute":"url","inverted":"0","type":"equals_simple","value":"https:\/\/guild.ai\/"}],
          excludedTargets: [],
          variations: [
              {
                  name: 'original',
                  activate: function (event) {
                      tagline.innerText = "Improve your models by measuring";
                  }
              },
              {
                  name: 'MeasureCompareImprove',
                  activate: function(event) {
                      tagline.innerText = "Measure. Compare. Improve.";
                  }
              },
              {
                  name: 'BetterModelsByMeasuring',
                  activate: function(event) {
                      tagline.innerText = "Better models by measuring";
                  }
              },
              {
                  name: 'MeasureCompareImprove2',
                  activate: function(event) {
                      tagline.innerText = "Measure and compare to improve your models";
                  }
              },
              {
                  name: 'MeasureCompareImprove3',
                  activate: function(event) {
                      tagline.setAttribute("style", "max-width:15em");
                      tagline.innerText = "Measure, compare, and improve your models";
                  }
              }
          ],
          trigger: function () {
              return true;
          }
      }]);
  </script>
  <!-- Matomo A/B Test -->

</html>
