<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Guild AI - The ML Engineering Toolkit {% if page.title != 'Home' %}- {{ page.title }}{% endif %}</title>
    <link href="{{ base_url }}/assets/css/vendor.min.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/theDocs.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ base_url }}/assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/47f6d8906a.js"></script>
  </head>
  <body>
    {% block modals %}{% endblock %}
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
  <script src="{{ base_url }}/assets/js/vendor.min.js" data-manual></script>
  <script src="{{ base_url }}/assets/js/theDocs.min.js"></script>
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u = "https://guildai.matomo.cloud/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async=true;
      g.src='//cdn.matomo.cloud/guildai.matomo.cloud/matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>

  <!-- Matomo A/B Test -->
  <script type="text/javascript">
      var tagline = document.querySelector("h1");
      var bulletOne = document.querySelector(".tagline-bullets li:first-child");
      var _paq = _paq || [];
      _paq.push(['AbTesting::create', {
          name: '2',
          percentage: 100,
          includedTargets: [{"attribute":"url","inverted":"0","type":"equals_simple","value":"https:\/\/guild.ai\/"}],
          excludedTargets: [],
          variations: [
              {
                  name: 'original',
                  activate: function (event) {
                  }
              },
              {
                  name: '5',
                activate: function(event) {
                      tagline.innerText = "The fastest way to track experiments";
                      bulletOne.childNodes[1].nodeValue = "Compare & Analyze";
                  }
              },
              {
                  name: '6',
                  activate: function(event) {
                      tagline.innerText = "Open source experiment tracking";
                      bulletOne.childNodes[1].nodeValue = "Compare & Analyze";
                  }
              },
              {
                  name: '7',
                  activate: function(event) {
                      tagline.innerText = "Track experiments without changing your code";
                      tagline.setAttribute("style", "max-width:15em");
                      bulletOne.childNodes[1].nodeValue = "Compare & Analyze";
                  }
              },
              {
                  name: '8',
                  activate: function(event) {
                      tagline.innerText = "Build better models faster";
                      tagline.setAttribute("style", "max-width:15em");
                  }
              }
          ],
          trigger: function () {
              return true;
          }
      }]);
  </script>
  <!-- Matomo A/B Test -->

</html>
