<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Guild AI - The ML Engineering Toolkit {% if page.title != 'Home' %}- {{ page.title }}{% endif %}</title>
    <link href="{{ base_url }}/assets/css/vendor.min.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/theDocs.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ base_url }}/assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/47f6d8906a.js"></script>
  </head>
  <body>
    {% block modals %}{% endblock %}
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
  <script src="{{ base_url }}/assets/js/vendor.min.js" data-manual></script>
  <script src="{{ base_url }}/assets/js/theDocs.min.js"></script>
  <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(100935573);</script>
  <script async src="//static.getclicky.com/js"></script>
</html>
