<div class="cmd-help">
  <h2>Usage</h2>
  <div class="cmd-help-usage">{{ help.usage.prog }} {{ help.usage.args }}</div>
  <div class="cmd-help-text">
    {% for par in help.help %}
    <p>{{ par }}</p>
    {% endfor %}
  </div>
  <h2>Options</h2>
  <table class="table table-cmd-help options">
    <tbody>
      {% for opt in help.options %}
      <tr>
        <th>{{ opt.term }}</th>
        <td>{{ opt.help }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if help.commands %}
  <h2>Subcommands</h2>
  <table class="table table-cmd-help commands">
    <tbody>
      {% for cmd in help.commands %}
      <tr>
        <th><a href="{{ cmd.url }}">{{ cmd.term }}</a></th>
        <td>{{ cmd.help }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
